{% extends "base.html" %}
{% block content %}

<h1>Welcome to Defect Tracker!</h1>
<h3>Defect: {{ defect.id }} </h3>
<strong>Id:</strong> {{ defect.id }} <br>
<strong>Title:</strong> {{ defect.title }} <br>
<strong>Description:</strong> {{ defect.description }} <br>
<br>
{% endblock %}
