{% extends "base.html" %}
{% block content %}

<h1>Welcome to Defect Tracker!</h1>
<h3>Defects:</h3>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
    {% for defect in defects %}
      <tr>
      <td><a href="/defect/{{ defect.id }}"> {{ defect.id }} </a></td>
      <td><a href="/defect/{{ defect.id }}"> {{ defect.title }} </a></td>
      <td> {{ defect.description }} </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
